<% include ../_header %>
<form method="post" action="/login">
	<label>Gebruikersnaam</label>
	<input name="username"></input>
	<label>Wachtwoord</label>
	<input name="password" type="password"></input>
	<input class="button" type="submit" value="Aanmelden">
</form>
<% include ../_footer %>
