<% include ../_header %>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/bulletins">Mededelingen</a></li>
				<li><a href="/newsletters">Nieuwsbrieven</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><div class="btn-group"><a class="btn btn-default navbar-btn" href="/logout" role="button">Afmelden</a></div></li>
			</ul>
		</div>
	</div>
</nav>

<div class="row">
	<h2>
		Mededeling Toevoegen
	</h2>
	<form class="form-horizontal" role="form" action="/bulletins" method="post">
		<div class="form-group">
			<input name="title" placeholder="Naam mededeling" class="form-control">
		</div>
		<!--div class="form-group">
			<input name="body" placeholder="Mededeling tekst" class="form-control">
		</div>-->
		
		<div class="form-group">
		  <label class="control-label" for="body">Mededeling tekst</label>
		    <textarea class="form-control" id="body" name="body"></textarea>
		</div>
		<button type="submit" class="btn btn-success">Toevoegen</button>
	</form>
</div>

<hr>
<% bulletins.forEach(function(bulletin) { %>
<div class="row">
	<h2><%= bulletin.get("title") %></h3>
	<p><%= bulletin.get("body") %></p>
	<form action="<%= '/bulletins/' + bulletin.id %>" method="post">
		<!-- This hidden element causes express.methodOverride middleware to override
			the HTTP method from post to delete for a truly RESTful interface. -->
		<input type='hidden' name='_method' value='delete' />
		<button type="submit" class="btn btn-danger">Verwijderen</button>
	</form>
</div>
<% }) %>

<% include ../_footer %>
