<!-- Include the header partial -->
<% include ../_header %>

<div class="main_content">
  	<% newsletters.forEach(function(newsletter) { %>
  		<div class="post_link">
                  <h3><a href="<%= newsletter.get("url") %>"><%= newsletter.get("name") %></a></h3>
                    <form action="<%= '/newsletters/' + newsletter.id %>" method="post">
                      <!-- This hidden element causes express.methodOverride middleware to override
                           the HTTP method from post to delete for a truly RESTful interface. -->
                      <input type='hidden' name='_method' value='delete' />
                      <input type='submit' value='delete' />
                    </form>
                </div>
    <% }) %>
</div>

<form class='new_post' method='post' action='/newsletters'>
  <div>
    <label>Naam</label>
    <input name='name' />
  </div>
  <div>
    <label>URL</label>
    <input name='url'/>
  </div>
  <div>
    <input class='button' type='submit' value='Publish' />
  </div>
</form>

<!-- Include the footer partial -->
<% include ../_footer %>
